<div class="container p-4">
  <h2>Ancient Cities</h2>
  <a routerLink="/create-city" class="btn btn-primary mb-3">Add New City</a>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Part Of</th>
          <th>Population</th>
          <th>Type</th>
          <th>Created</th>
          <th>Defunct</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <app-city *ngFor="let city of cities" [city]="city" [deleteCity]="deleteCity.bind(this)"></app-city>
      </tbody>
    </table>
  </div>
</div>
